* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.start {
  position: sticky;
  top: 0%;
  height: 100vh;
  width: 100vw;
  max-width: 100%;
  object-fit: cover;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ornament {
  padding: 5% 15%;
  display: flex;
  justify-content: space-evenly;
  align-items: stretch;
  text-align: center;
  flex-direction: column;
  height: 100vh;
}

.ornament h1 {
  text-align: center;
}

.svg {
  border-radius: 5px;
  width: auto !important;
  height: auto !important;
}

.start .svg {
  box-shadow: rgb(0, 0, 0, 0.7) 0px 4vh 4vh -2vh,
              rgb(0, 0, 0, 0.5) 0px 2vh 1vh -1px,
              rgb(0, 0, 0, 0.8) 1vh 0px 2vh -2vh;
  width: 100%!important;
  height: 100%!important;
}

.start .lottie {
  max-width: 80%;
  max-height: 80%;
  position: fixed;
}

.App {
  height: 10000px;
}


body {
  font-family: sans-serif;
  position: relative;
  background-color: whitesmoke;
}